@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0B1416] text-gray-100 antialiased selection:bg-reddit-orange selection:text-white;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0B1416;
}

::-webkit-scrollbar-thumb {
  background: #2D424A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3D5762;
}
